<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Components</title>
</head>
<div id="vm1">
    <my-component></my-component>
</div>
<div id="vm2">
    <local-component></local-component>
    <my-component></my-component>
</div>
<div id="vm3">
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
    <simple-counter></simple-counter>
</div>
<div id="vm4">
    <child-component message="hello vue.js"></child-component>
    <input v-model="parentMsg">
    <child-component :message="parentMsg"></child-component>
</div>
<div id="vm5">
    <div>{{ total }}</div>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
</div>
<div id="vm6">
    <currency-input label="Price" v-model="price"></currency-input>
    <currency-input label="Shipping" v-model="shipping"></currency-input>
    <currency-input label="Handling" v-model="handling"></currency-input>
    <currency-input label="Discount" v-model="discount"></currency-input>
    <p>Total: ${{ total }}</p>
</div>
<script src="../vue.js"></script>
<script src="https://cdn.rawgit.com/chrisvfritz/5f0a639590d6e648933416f90ba7ae4e/raw/98739fb8ac6779cb2da11aaa9ab6032e52f3be00/currency-validator.js"></script>
<script type="text/javascript">
Vue.component('currency-input', {
    template: '\
    <div>\
      <label v-if="label">{{ label }}</label>\
      $\
      <input\
        ref="input"\
        v-bind:value="value"\
        v-on:input="updateValue($event.target.value)"\
        v-on:focus="selectAll"\
        v-on:blur="formatValue"\
      >\
    </div>\
  ',
    props: {
        value: {
            type: Number,
            default: 0
        },
        label: {
            type: String,
            default: ''
        }
    },
    mounted: function() {
        this.formatValue()
    },
    methods: {
        updateValue: function(value) {
            var result = currencyValidator.parse(value, this.value)
            if (result.warning) {
                this.$refs.input.value = result.value
            }
            this.$emit('input', result.value)
        },
        formatValue: function() {
            this.$refs.input.value = currencyValidator.format(this.value)
        },
        selectAll: function(event) {
            // Workaround for Safari bug
            // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
            setTimeout(function() {
                event.target.select()
            }, 0)
        }
    }
})

new Vue({
    el: '#vm6',
    data: {
        price: 0,
        shipping: 0,
        handling: 0,
        discount: 0
    },
    computed: {
        total: function() {
            return ((
                this.price * 100 +
                this.shipping * 100 +
                this.handling * 100 -
                this.discount * 100
            ) / 100).toFixed(2)
        }
    }
})

Vue.component('button-counter', {
    template: '<button v-on:click="increment">{{ counter }}</button>',
    data: function() {
        return {
            counter: 0
        }
    },
    methods: {
        increment: function() {
            this.counter += 1
            this.$emit('increment')
        }
    }
});
var vm5 = new Vue({
    el: '#vm5',
    data: {
        total: 0
    },
    methods: {
        incrementTotal: function() {
            this.total += 1
        }
    }

})

Vue.component('child-component', {
    props: ['message'],
    template: '<div> {{ message }}</div>'
});
var vm4 = new Vue({
    el: '#vm4',
    data: {
        parentMsg: ''
    }
});
var data = {
    counter: 0
};
Vue.component('simple-counter', {
    template: '<button v-on:click="counter += 1"> {{ counter }} </button>',
    data: function() {
        return {
            counter: 0
        };
    }
});
var vm3 = new Vue({
    el: '#vm3'
});
Vue.component('my-component', {
    template: '<div>A custom component</div>'
});

var Child = {
    template: '<div>A local component</div>'
};
var vm2 = new Vue({
    el: '#vm2',
    components: {
        'local-component': Child
    }
});

var vm1 = new Vue({
    el: '#vm1'
});
</script>
</body>

</html>
