* {
	box-sizing: border-box;
}

.position-relative {
	position: relative !important;
}



input {
	display: none;
}
label {
	cursor: pointer;
}

/*pseudo-element start*/

.pseudo-element .pseudo-position {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1.5px solid #ccc;
	margin-right: 13px;
}
input[type="radio"] + label > .pseudo-position {
	border-radius: 0.5em;
}

.checkbox-pseudo:checked + label::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0.3em;
	top: 0.1em;
	width: 0.3em;
	height: 0.6em;
	border-right: 0.15em solid red;
	border-bottom: 0.15em solid red;
	transform: rotate(45deg);
}
.radio-pseudo:checked + label::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0.3em;
	top: 0.35em;
	width: 0.3em;
	height: 0.3em;
	border-radius: 0.2em;
	background-color: red;
	border: 1px solid red;
}

.checkbox-pseudo:checked + label > .pseudo-position,
.radio-pseudo:checked + label > .pseudo-position {
	border-color: red;
}

/*pseudo-element end*/



/*sprite-img start*/

.sprite-img .img-position {
	width: 1em;
	height: 1em;
	margin-right: 13px;
	display: inline-block;
	background: url("http://p1.bqimg.com/567571/99322cf8c3283e42.png") no-repeat;
}
.radio-sprite + label > .img-position {
	background-position: -24px -10px;
}
.radio-sprite:checked + label > .img-position {
	background-position: -59px -10px;
}
.checkbox-sprite + label > .img-position {
	background-position: -24px -31px;
}
.checkbox-sprite:checked + label > .img-position {
	background-position: -59px -31px;
}

/*sprite-img end*/

main {
	display: flex;
	height: 700px;
	justify-content: center;
	align-items: center;
}
h3 {
	text-align: center;
	margin-bottom: 50px;
}

.pseudo-element, .sprite-img {
	width: 300px;
	height: 300px;
	margin-right: 50px;
	border: 2px solid #ccc;
	border-radius: 10px;
	/* background-color: #07540b; */
}
.pseudo-element > div, .sprite-img > div {
	margin-left: 100px;
}

