body {
	margin: 0;
	padding: 0;
}

/*use position and transform begin*/
.box {
	min-width: 400px;
	min-height: 200px;
	background-color: #ccc;
	position: absolute;
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);
}
/*use position and transform end*/

p {
	margin: 60px;
}

.left-and-top-circle {
	width: 50px;
	height: 50px;
	border-radius: 0 0 50px 0;
	background: #fc0;

	position: absolute;
	top: 0;
	left: 0;
}


.right-and-bottom-circle {
	width: 50px;
	height: 50px;
	border-radius: 50px 0 0 0;
	background: #fc0;

	position: absolute;
	right: 0;
	bottom: 0;
}


/*use margin auto four beside 0 begin
	only fixed width and height*/
/*
.box {
	
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}*/
/*use margin auto four beside 0 end
	only fixed width and height*/




/*use flexbox begin*/
/*.box {
	width: 400px;
	height: 200px;
	background-color: #ccc;
}

html, body, .container {
    height: 100%;
}
.container {  
    display: flex;
    align-items: center;
    justify-content: center;
}*/
/*use flexbox end*/






/*use static height start*/
/*
.box {
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
}*/
/*use static height end*/
